.background{
    background-color: #FFE2C4;
    height: 400px;
    margin: 10% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.mutation{
    width: 100px;
    height: 100px;
    background-color: #FE0000;
    transition: 1s;

}
.mutation:hover{
    background-color: #808080;
    border-radius: 50%;
    transition: 1.2s;

}