@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-spacing: 0;
    font-family: "Comfortaa", sans-serif;
}

.fs-4 {
    font-family: "Kablammo", system-ui;
    color: #1a6c1c;
    font-size: calc(1.5rem + .3vw) !important;
    margin-left: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #3F50E7;
}

.nav-link {
    color: #1a6c1c;
}

.btn-primary {
    background-color: #3F50E7;
}

.bd-placeholder-img {
    object-fit: cover;
}

.bg-body-secondary {
    background-color: transparent;
    background-image: url("https://images.unsplash.com/photo-1495386786209-f284d613b8d0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: left;
}