@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("img/image5.png");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.first-page{
    height: 100vh;
    /*background-image: url("img/image5.png");*/
    /*background-size: cover;*/
    /*background-position: top;*/
    /*background-attachment: fixed;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-first-page{
    width: 69.7vw;
    height: 40vh;
    background: #FAF9F7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
}
.flex-first-page div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
    font-family: "KoHo", sans-serif;
    font-weight: 400;
}
.flex-first-page h1{
    font-size: 2.8em;
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
}
.flex-first-page p{
    font-size: 1.5em;
}
.flex-first-page button{
    font-size: 1.8em;
    width: 26.9vw;
    height: 7.7vh;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.second-page{
    height: 100vh;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 110px;
    font-family: "KoHo", sans-serif;
    background: rgba(255, 255, 255, 0.87)
}
.second-page iframe{
    width: 949px;
    height: 533px;
    flex-shrink: 0;
}
.second-page div{
    width: 949px;
    font-size: 2em;
}
.third-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "KoHo", sans-serif;
    gap: 61px;
    background: rgba(255, 255, 255, 0.87)
}
.card{
    width: 29.901vw;
    height: 71.283vh;
    background: rgba(83, 83, 83, 0.40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 400;
}
.card img{
    width: 27vw;
    height: 23vh;
    margin-bottom: 32px;
}
.card h3{
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}
.card span{
    margin-top: 62px;
}
.card button{
    width: 27vw;
    height: 7.7vh;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 13px;
    color: #6B6666;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}