@media screen and (max-width: 800px){
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
    'header header header header'
    'main main main main'
    'main main main main'
    'aside aside aside aside';
    }
}