*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-spacing: 0;
}
body>div{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #375185;
}
body>section{
    display: flex;
}
body>section>div:first-of-type {
    height: 70vh;
    width: 70vw;
}
body>section>div:last-of-type{
    height: 70vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95CB7C;
}
body>section>div>div{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008B8B;
}
body>section>div>section{
    height: 50%;
    display: flex;
}
body>section>div>section>div:nth-child(1){
    width: 33.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF00;
}
body>section>div>section>div:nth-child(2){
    width: 33.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00FF00;
}
body>section>div>section>div:nth-child(3){
    width: 33.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00FFFF;
}
h2{
    font-size: 2em;
}