@media screen and (max-width: 768px){
    body > div {
        margin: 32px auto;
        width: 343px;
        flex-direction: column;
        gap: 24px;
    }
    h1 {
        font-size: 48px;
        width: 343px;
        margin-top: 16px;
    }

    ul p {
        font-size: 20px;
    }
    ul {
        margin: 16px 0 16px 0;
    }
    iframe{
        width: 343px;
        height: 193px;
    }
}