*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*hw5.1*/


/*hw5.2*/
.text-arrangement{
    padding: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
section{
    height: 35.9vh;
}
#pink{
    background-color: #fbb6c2;
    color: black;
}
#black{
    background-color: black;
    color: snow;
}

/*hw5.3*/
.box{
    height: 100px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #EEF5FF;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
}

.colors{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

}

.parent{
    background-color: #adcdf8;
    width: 45%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.color{
    margin-left: 12px;
    display: flex;
    justify-content: center;
}

