@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bowlby One", sans-serif;
}

body {
    background-color: #1E1E1E;
}

header {
    height: 14vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > nav > a {
    color: #E9E3DC;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    margin-right: 59px;
    text-decoration: none;
}

header > button {
    width: 14vw;
    height: 6vh;
    background-color: #B3A0CD;
    border: none;
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    margin-right: 51px;
    padding: 0 26px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.burgers {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > div > h1 {
    color: #E9E3DC;
    text-align: center;
    font-size: 107px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    margin: 96px 92px 33px 92px;
}

.burgers img {
    height: 42vh;
    width: 49vw;
}

main > section {
    height: 39vh;
    width: 93vw;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    display: flex;
    justify-content: center;
    padding: 90px 0;
    gap: 28px;
}

main > section > h2 {
    color: #1E1E1E;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
    width: 30vw;
}

main > section > div {
    width: 30vw;
}

main > section > div > p {
    color: #1E1E1E;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
}

main > section > div > button {
    height: 6vh;
    width: 12vw;
    border: 4px solid #1E1E1E;
    background: #E9E3DC;
    /* DropShadow */
    box-shadow: 8px 8px 0 0 #000;
    color: #1E1E1E;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    margin-top: 34px;
}

.image-side-by-side {
    width: 45vw;
    height: 85vh;
    border-radius: 30px;
}

.img-bottom {
    width: 93vw;
    height: 54vh;
    border-radius: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.flex-last {
    width: 93vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    margin: 64px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 33px;
    margin-bottom: 36px;
}

footer > h2 {
    width: 62vw;
    color: #E9E3DC;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
}

footer > button {
    background: #D1EF53;
    color: #1E1E1E;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    padding: 21px 31px;
    height: 6vh;
    width: 14vw;
}