*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#li1{
    color: pink;
}
#li2 li:nth-child(odd){
    font-size: 22px;
}
#li3 li:nth-child(2n+4)::after{
    content: "!";
}
#li4 li:last-child{
    color: purple;
}
#li5 li:first-letter{
    font-size: 30px;
    color: red;
}